[project]
	description = u-boot/master @ http://git.denx.de/
[access "refs/*"]
	owner = group user/Rommel G Custodio (sessyargc)
[access "refs/for/refs/*"]
	read = group user/Rommel G Custodio (sessyargc)
	push = group user/Rommel G Custodio (sessyargc)
	label-Code-Review = -2..+2 group user/Rommel G Custodio (sessyargc)
	label-Verified = -1..+1 group user/Rommel G Custodio (sessyargc)
	rebase = group user/Rommel G Custodio (sessyargc)
	removeReviewer = group user/Rommel G Custodio (sessyargc)
	submit = group user/Rommel G Custodio (sessyargc)
[access "refs/heads/*"]
	read = group user/Rommel G Custodio (sessyargc)
	create = group user/Rommel G Custodio (sessyargc)
	push = +force group user/Rommel G Custodio (sessyargc)
	pushMerge = group user/Rommel G Custodio (sessyargc)
[access "refs/tags/*"]
	push = +force group user/Rommel G Custodio (sessyargc)
	pushTag = group user/Rommel G Custodio (sessyargc)
	pushSignedTag = group user/Rommel G Custodio (sessyargc)
